.App {
	text-align: center;
}


.mapContainer {
	position: absolute;
	height: 100vh;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.sidebarStyle {
	font-family: "Squada One", cursive;
	display: inline-block;
	letter-spacing: 1.5px;
	position: absolute;
	top: 63px;
	left: 25px;
	background-color: #3b88abae;
	color: #ffffff;
	z-index: 1 !important;
	padding: 10px;
	font-weight: bold;
	height: relative;
	width: 200px;
	border-radius: 25px;
	text-align: center;
	transition: transform 0.2s; /* Animation */
}



.sidebarStyle:hover {
	transform: scale(
		1
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	-moz-box-shadow: 4px 4px 5px #1c1a1a6b;
	-webkit-box-shadow: 4px 4px 5px #1c1a1a6b;
	box-shadow: 4px 4px 5px #1c1a1a6b;
}

.mapboxgl-popup {
	max-width: relative;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.geocoder-dropdown-item {
	padding: 5px;
}
.geocoder-dropdown-icon {
	margin-right: 10px;
}
.geocoder-dropdown-text {
	color: #5a3fc0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;
}

/* .visit-button{
        background-color: #3b88ab;
        border-radius: 25px;
        color: #ffffff;
      } */

.visitList {
	display: inline-block;
	position: absolute;
	top: 70px;
	left: 25px;
	background-color: rgb(205, 135, 89);
	color: #ffffff;
	z-index: 1 !important;
	padding: 10px;
	max-height: 75vh;
	height: relative;
	width: 200px;
	border-radius: 25px;
	text-align: center;
	transition: transform 0.2s; /* Animation */
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;

	transition-property: opacity, left, top, height;
	transition-duration: .60s

}


.visitList:hover {
	transform: scale(1);
	/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	-moz-box-shadow: 4px 4px 5px #1c1a1a6b;
	-webkit-box-shadow: 4px 4px 5px #1c1a1a6b;
	box-shadow: 4px 4px 5px #1c1a1a6b;
}

.delete-button {
	background-color: #3b88ab;
	border-radius: 7px;
	color: #ffffff;
	/* cursor: auto; */
}

.vlCard-title {
	font-family: "Squada One";
	align-content: center;
}

.login-button {
	font-family: "Squada One", cursive;
	letter-spacing: 1.5px;
	position: relative;
	top: 75px;
	left: 250px;
	background-color: rgb(205, 135, 89);
	color: #ffffff;
	z-index: 1 !important;
	padding: 8px;
	font-weight: bold;
	height: relative;
	width: 100px;
	border-radius: 25px;
	text-align: center;
	transition: transform 0.2s; /* Animation */
}

.login-button:hover {
	transform: scale(
		1
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	-moz-box-shadow: 4px 4px 5px #1c1a1a6b;
	-webkit-box-shadow: 4px 4px 5px #1c1a1a6b;
	box-shadow: 4px 4px 5px #1c1a1a6b;
}

.login-form {
	font-family: "Squada One";
	display: inline-block;
	letter-spacing: 1.5px;
	/* background: transparent;   */
	position: relative;
	top: 75px;
	left: 250px;
	background-color: #3b88ab;
	color: #ffffff;
	z-index: 1 !important;
	padding: 8px;
	/* height: relative; */
	width: 375px;
	border-radius: 25px;
	text-align: center;
	transition: transform 0.2s; /* Animation */
}
.login-form:hover {
	transform: scale(
		1
	); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	-moz-box-shadow: 4px 4px 5px #1c1a1a6b;
	-webkit-box-shadow: 4px 4px 5px #1c1a1a6b;
	box-shadow: 4px 4px 5px #1c1a1a6b;
}

.mapboxgl-ctrl-attrib-button{
	display: none;
	visibility: hidden
}