.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #mapid { 
  height: 75px; 
} */

.mapContainer {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px;
  background-color: #3b88ab;
  color: #ffffff;
  z-index: 1 !important;
  padding: 10px;
  font-weight: bold;
  height: relative;
  width: 200px;
  border-radius: 25px;
  text-align: center;
  -moz-box-shadow:4px 4px 5px #1c1a1a6b;
  -webkit-box-shadow:4px 4px 5px #1c1a1a6b;
  box-shadow:4px 4px 5px #1c1a1a6b;
  transition: transform .2s; /* Animation */
}

.sidebarStyle:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

  .mapboxgl-popup {
    max-width: relative;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }


    .geocoder-dropdown-item {
      padding: 5px;
      }
      .geocoder-dropdown-icon {
      margin-right: 10px;
      }
      .geocoder-dropdown-text {
      color: #5a3fc0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: larger;
      }

      .visit-button{
        background-color: #3b88ab;
        border-radius: 25px;
        color: #ffffff;
      }

      .visitList{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
        background-color: rgb(205, 135, 89);
        color: #ffffff;
        z-index: 1 !important;
        padding: 10px;
        font-weight: bold;
        max-height: 400px;
        height: relative;
        width: 200px;
        border-radius: 25px;
        text-align: center;
        -moz-box-shadow:4px 4px 5px #000000;
        -webkit-box-shadow:4px 4px 5px #000000;
        box-shadow:4px 4px 5px #000000;
        transition: transform .2s; /* Animation */
      }

      .visitList:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }

.userTest {
  top: 400px
}
      